
/* ================= Fonts ================= */

/*@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Silkscreen&display=swap');


/* ================= GENERAL ================= */

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Advent Pro";
  src: url(./assets/fonts/AdventPro-Medium.ttf);
}
@font-face {
  font-family: "Silkscreen";
  src: url(./assets/fonts/Silkscreen-Regular.ttf);
}
body {
  font-family: 'Advent Pro', sans-serif;
}

.page {
  background: url(bgT.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* ================= NAVBAR ================= */

nav {
  position: fixed;
  width: 100%;
  opacity: 0.96;
  overflow: hidden;
  background-color: #81aaa0;
  z-index: 2000;
}

header li {
  float: right;
  font-size: 1.5em;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 20px;
}
#anellovirus {
  font-family: Silkscreen;
  font-weight: bold;
  float: left;
  margin-left: 35px;
}

#logo {
  float: left;
  position: absolute;
  top: 10px;
}

/* ===================== MAIN ========================== */


main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
  min-height: 500px;
  width: 75%;
  margin: 0 auto;
  font-size: 1.5rem;
  /* border: 2px solid rgb(33, 101, 209); */
}

.grid {
  display: grid;
  min-height: 500px;
  width: 100%;
  /* border: 2px solid rgb(33, 101, 209); */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "db db"
    "av bv"
    "gv hv";
}

.page2 {
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
}

.grid2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 70%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title krona"
    "tree tree";
}


.dbox {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 2.5%;
  opacity: 0.96;
  font-size: 2.5rem;
}

.boxdl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  opacity: 0.9;
  font-size: 2rem;
  border-radius: 15px;
  transition: 1s;
}
.boxdl:hover {
  transform: scale(1.05);
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 5%;
  opacity: 0.9;
  transition: 1s;
}
.box:hover {
  transform: scale(1.1);
}


#database1 {
  background: #5D6D7E;
  grid-area: db;
}

#Alpha {
  background: #79b3d4;
}

#Beta {
  background: #ff974b;
}

#Gamma {
  background: #d6a4f1;
}

#He {
  background: #74bc9b;
}

#Yod {
  background: #ffffb3;
}

#Yod {
  background: #ffffb3;
}

#Lamed {
  background: #ff80b3;
}

#Mem {
  background: #94b8b8;
}

#Samek {
  background: #ff6666;
}

#Primates {
  background: #e6e6e6;
}

#alphatorquevirus {
  background: #79b3d4;
  grid-area: av;
}

#betatorquevirus {
  background: #ff974b;
  grid-area: bv;
}

#gammatorquevirus {
  background: #d6a4f1;
  grid-area: gv;
}

#hetorquevirus {
  background: #74bc9b;
  grid-area: hv;
}

#yodtorquevirus {
  background: #ffffb3;
  grid-area: av;
}

#lamedtorquevirus {
  background: #ff80b3;
  grid-area: bv;
}

#memtorquevirus {
  background: #94b8b8;
  grid-area: gv;
}

#samektorquevirus {
  background: #ff6666;
  grid-area: hv;
}

#krona {
  grid-area: krona;
}

#tree {  
  display: flex;
  position: absolute;
  top: 700px;
  width: 100%;
  grid-area: tree;
}

#title {
  display: block;
  grid-area: title;
}
